<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Book Store</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://kit.fontawsome.com/ofaddclaf8.js" crossorigin="anonymous"></script>
</head>
<body>
	

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Book-Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="availableBooks">Available Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="myBooks">My Books</a>
        </li>
      </ul>
      
      <div>
		  <a class="nav-link" href="bookRegister">New Book Register</a>
	 </div>

    </div>
  </div>
</nav>

<div class="container my-3">
	<h2>My Books</h2>
	 <table class="table table-striped  table-hover ">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author Name</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
	  
    <tr th:each="data:${book}">
      <td th:text="${data.id}"></td>
      <td th:text="${data.name}"></td>
      <td th:text="${data.author}"></td>
      <td th:text="${data.price}"></td>
      <td><a style="color:red" th:href="@{/deleteMyList/{id}(id=${data.id})}"><i class="fa-solid fa-trash"></i></a></td>
    </tr>
   
  </tbody>
</table>
</div>
 
</body>
</html>